@charset "ISO-8859-1";

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: white;
}
ul.breadcrumb li {
  display: inline;
  font-size: 25px;
}
ul.breadcrumb li+li:before {
  padding: 10px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}
/*ul.breadcrumb li a:hover {
  color: green;
  text-decoration: underline;
}*/
#nav_bar .active {
    color:            green;
    background-color: #4f81bd;
    text-decoration: underline;
}

/* My work */

.col-sm-6{
	 text-align:center;	
}

.button {
  font-family: 'Hammersmith One', sans-serif;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-size: 25px;
  background:  #009900;
  padding: 10px 20px 10px 20px;
  border: none;
  width: 250px;
}
.button:hover {
  background:  #008000;
  color:  black;
}

.button1 {
  font-family: 'Hammersmith One', sans-serif;
  color: white;
  text-align: left;
  border-radius: 8px;
  font-size: 25px;
  background:  #009900;
  padding: 10px 20px 10px 20px;
  border: none;
  width: 350px;
}
.button1:hover {
  background:  #008000;
  color:  black;
}

.button2 {
  font-family: 'Hammersmith One', sans-serif;
  color: white;
  text-align: left;
  border-radius: 8px;
  font-size: 20px;
  background:  #009900;
  padding: 10px 20px 10px 20px;
  border: none;
  width: 80px;
  height:52.7px;
}
.button2:hover {
  background:  #008000;
  color:  black;
}

.button3 {
  font-family: 'Hammersmith One', sans-serif;
  color: white;
  text-align: left;
  border-radius: 8px;
  font-size: 18px;
  background:  #4d9900;
  padding: 10px 20px 10px 20px;
  border: none;
  width: 70px;
  height:46.25px;
}
.button3:hover {
  background:  #008000;
  color:  black;
}





